<div class="month" data-year="<%- Year %>" data-month="Jan" data-value="<%- Jan %>" style="background:<%- JanColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Feb" data-value="<%- Feb %>" style="background:<%- FebColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Mar" data-value="<%- Mar %>" style="background:<%- MarColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Apr" data-value="<%- Apr %>" style="background:<%- AprColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="May" data-value="<%- May %>" style="background:<%- MayColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Jun" data-value="<%- Jun %>" style="background:<%- JunColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Jul" data-value="<%- Jul %>" style="background:<%- JulColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Aug" data-value="<%- Aug %>" style="background:<%- AugColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Sep" data-value="<%- Sep %>" style="background:<%- SepColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Oct" data-value="<%- Oct %>" style="background:<%- OctColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Nov" data-value="<%- Nov %>" style="background:<%- NovColor%>">
</div>
<div class="month" data-year="<%- Year %>" data-month="Dec" data-value="<%- Dec %>" style="background:<%- DecColor%>">
</div>
