<header>
    <h2>GLOBAL Land-Ocean Temperature</h2>
</header>
<section>

    <div class="top"></div>
    <div class="content"></div>
    <div class="legends">
      <div class="left">
        <span>Jan</span>
        <span>Feb</span>
        <span>Mar</span>
        <span>Apr</span>
        <span>May</span>
        <span>Jun</span>
        <span>Jul</span>
        <span>Aug</span>
        <span>Sep</span>
        <span>Oct</span>
        <span>Nov</span>
        <span>Dec</span>
        <div class="average">DECADE</div>
      </div>
      <div class="right">
        <span>Jan</span>
        <span>Feb</span>
        <span>Mar</span>
        <span>Apr</span>
        <span>May</span>
        <span>Jun</span>
        <span>Jul</span>
        <span>Aug</span>
        <span>Sep</span>
        <span>Oct</span>
        <span>Nov</span>
        <span>Dec</span>
        <div class="average">DECADE</div>
      </div>
    </div>

    <div class="viewer"></div>

</section>
<footer>
    <div class="copyright">by Daniel LLach</div>
</footer>
